html,body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  line-height:1;
  overflow-x: hidden;
}
*,*::after,*::before{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  
}.body{
width:100vw;
height:100vh;
}.body::-webkit-scrollbar{
width: 8px;
}

body.body::-webkit-scrollbar-track{
background-color: #eee;
}

body.body::-webkit-scrollbar-thumb {
background: #ccc;
}

body.body::-webkit-scrollbar-thumb:hover {
background: darkgray;
}
