.channel{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    padding: 10px;
    border-radius: 3px;
}

.channel:hover{
    background-color: #25252c;

}

.channel_description{
    display: flex;
    align-items: center;
}

.channel>div>img{
    margin-right: 5px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}